[submodule "session"]
	path = session
	url = git://github.com/cream/session.git
[submodule "melange"]
	path = melange
	url = git://github.com/cream/melange.git
[submodule "melange-control"]
	path = melange-control
	url = git://github.com/cream/melange-control.git
[submodule "collector"]
	path = collector
	url = git://github.com/cream/collector.git
[submodule "console"]
	path = console
	url = git://github.com/cream/console.git
